body {
  margin: 0;
}

div {
  margin: 20px 0;

}

h1 {
  text-align: center;
}

p {
  padding-left: 30%;
}
footer{
  background-color: black;
  opacity: 0.8;
}
.content__div--flexbox{
  display: flex;
  justify-content: flex-start;
}
.egg__box {
  width: 50%;
}

.poem__box {
  width: 50%;
}
.footer__text--style{
  color: white;
  padding: 50px 0;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

span{
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
}
@keyframes V2L1{/*Vincent*/
  0%     {transform: translate(0px,0px);}
  100%   {transform: translate(500px,0px);}
}
#verse2__line1--push{/*Vincent*/
  animation-duration: 3s;
  animation-name: V2L1;
}
@keyframes V2L3{/*Vincent*/
  0%    {transform: translate(0px,0px);}
  5%    {transform: translate(15px,10px);}
  10%   {transform: translate(30px,0px);}
  15%   {transform: translate(45px,10px);}
  20%   {transform: translate(60px,0px);}
  25%   {transform: translate(75px,10px);}
  30%   {transform: translate(90px,0px);}
  35%   {transform: translate(105px,10px);}
  40%   {transform: translate(120px,0px);}
  45%   {transform: translate(135px,10px);}
  50%   {transform: translate(150px,0px);}
  55%   {transform: translate(0px,0px);}
  60%   {transform: translate(15px,10px);}
  65%   {transform: translate(30px,0px);}
  70%   {transform: translate(45px,10px);}
  75%   {transform: translate(60px,0px);}
  80%   {transform: translate(75px,10px);}
  85%   {transform: translate(90px,0px);}
  90%   {transform: translate(105px,10px);}
  95%   {transform: translate(120px,0px);}
  100%  {transform: translate(150px,0px);}
}
#verse2__line3--sneak{/*Vincent*/
  animation-duration: 10s;
  animation-name: V2L3;
}

/*verse 2 - animation "time"*/
.verse2__word--right {
    position: relative;
    left: 30px;
}

.verse2__word--time {
    animation-name: animate;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    position: absolute;
}

@keyframes animate {
    0%   {transform: translate(2px, 1px)   rotate(0deg);}
    10%  {transform: translate(-1px, -2px) rotate(-1deg);}
    20%  {transform: translate(-3px, 0px)  rotate(1deg);}
    30%  {transform: translate(0px, 2px)   rotate(0deg);}
    40%  {transform: translate(1px, -1px)  rotate(1deg);}
    50%  {transform: translate(-1px, -2px) rotate(-1deg);}
    60%  {transform: translate(-3px, 1px)  rotate(0deg);}
    70%  {transform: translate(2px, 1px)   rotate(-1deg);}
    80%  {transform: translate(-1px, -1px) rotate(1deg);}
    90%  {transform: translate(2px, 2px)   rotate(0deg);}
    100% {transform: translate(1px, -2px)  rotate(0deg);}
  }

/* Verse 4 animation */

/* eyes entering */
.verse__word--eyes2 { 
    
  animation: eyes-entering 1s step-end ;}

.verse__word--eyes3 {
  
  animation: eyes-entering 2s step-end ;
}
/* verse 4 glowing */

.verse__4--p { 
  color: #fffaae;
  text-shadow: 0 0 3px #fff023, 0 0 7px #fff238, 0 0 13px #ffbb00, 0 0 16px #ffbb00, 0 0 22px #ffbb00, 0 0 27px #ffbb00, 0 0 35px #ffbb00;
}

/* bending line animation */
.verse__line--bending {
  position: absolute;
  animation: bending 5s linear 3s ;
}

/* Growing line animation  */

 .verse__word--growing {
    position: relative;
    animation: growing 5s ease-in 2s ;
  }

  .left-growing { 
      position: relative;
      animation: left-growing 6s ease-in 2s;
  }

  .right-growing { 
      position: relative;
      animation: right-growing 6s ease-in 2s;
  }

  @keyframes growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; font-size: 250%;}
  }

  @keyframes left-growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; }
  }

  @keyframes right-growing {
    0%   { left:0; top:0px; }
    100% { left:-20px; top:0px;  }
  }

  @keyframes bending {
    0%   { transform: rotate(0deg); }
    
    100% { transform: rotate(-5deg);}
  }

  @keyframes eyes-entering {
    0%  { visibility: hidden; }
    100% { visibility: visible; }
}
