body {
  margin: 0;
}

div {
  margin: 20px 0;

}

h1 {
  text-align: center;
}

p {
  padding-left: 30%;
}
footer{
  background-color: black;
  opacity: 0.8;
}
.content__div--flexbox{
  display: flex;
  justify-content: flex-start;
}
.egg__box {
  width: 50%;
}

.poem__box {
  width: 50%;
}
.footer__text--style{
  color: white;
  padding: 50px 0;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}

.paragraph__span--inlineBlock{
  margin: 0 auto;
  padding: 0 auto;
  display: inline-block;
}
@keyframes V2L1{/*Vincent*/
  0%     {transform: translate(0px,1000px);}
  50%    {transform: translate(0px,0px);}
  66.67% {transform: translate(500px,0px);}
  100%   {transform: translate(500px,0px);}
}


#verse2__line1--push{/*Vincent*/
  animation-duration: 5s;
  animation-name: V2L1;
}

/*verse 2 - animation "time"*/
.verse2__word--right {
    position: relative;
    left: 30px;
}

.verse2__word--time {
    animation-name: animate;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    position: absolute;
}

@keyframes animate {
    0%   {transform: translate(2px, 1px)   rotate(0deg);}
    10%  {transform: translate(-1px, -2px) rotate(-1deg);}
    20%  {transform: translate(-3px, 0px)  rotate(1deg);}
    30%  {transform: translate(0px, 2px)   rotate(0deg);}
    40%  {transform: translate(1px, -1px)  rotate(1deg);}
    50%  {transform: translate(-1px, -2px) rotate(-1deg);}
    60%  {transform: translate(-3px, 1px)  rotate(0deg);}
    70%  {transform: translate(2px, 1px)   rotate(-1deg);}
    80%  {transform: translate(-1px, -1px) rotate(1deg);}
    90%  {transform: translate(2px, 2px)   rotate(0deg);}
    100% {transform: translate(1px, -2px)  rotate(0deg);}
  }
