.egg-poem {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);

    grid-template-areas:
      "intro-egg intro-egg"
      "egg-cracking verse__1"
      "egg-cracking verse__2"
      "egg-cracking verse__3"
      "egg-cracking verse__4"
      "egg-cracking verse__5"
      "egg-cracking verse__6"
      "credits credits";
  }


.intro-egg { grid-area: intro-egg; }

.egg-cracking { grid-area: egg-cracking; }

.verse__1 { grid-area: verse__1;
}

.shattering-text {overflow:visible;
}

.verse__2 {
    grid-area: verse__2;
    position: relative;
  }

  #our-text{
    z-index: -100;

  }
  .verse2__line1--push{
    display: inline-block;
    overflow: hidden;
   }

  .verse2__creature--svg{
    display: block;
    position: absolute;
    left: 400px;
    top: 200px;
  }

  .verse2__word--right {
    position: relative;
    left: 100px;
}

  .verse__3 { grid-area: verse__3; }

  .verse__3--snake {
    height: 150px;
    width: 150px;
    position: absolute;
    margin: -125px 0 100px 100px;}

.fangs-top, .fangs-bottom {
        width:300px;
        display: flex;
        align-self: center;
        }

.verse__4 { grid-area: verse__4; }

.verse__5 { grid-area: verse__5; }


.verse__6 { grid-area: verse__6; }

.credits { grid-area: credits; }

@media screen and (max-width:720px) {
  /* For mobile phones: */
  .egg-cracking .egg{ 
    grid-area: egg-cracking;
    position: fixed;
    background-color: beige;
    top: 0;
  }
  .egg-cracks {
    margin-top: 10px;
    padding-top: 10px;
  }

  .egg-poem {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-areas:
        ". egg-cracking ."
        ". intro-egg ."
        ". verse__1 ."
        ". verse__2 ."
        ". verse__3 ."
        ". verse__4 ."
        ". verse__5 ."
        ". verse__6 ."
        ". credits .";
    }
}
