//general
@keyframes crack {
    from {
       stroke-dashoffset: 320;
     }
    to {
       stroke-dashoffset: 0;
     }
   }


//legges til hvert vers
@keyframes entering {
    0% {
        transform: translate(0px,500px);
    }
    100% {
        transform: translate(0px,0px);
    }
}

//egg

@keyframes egg {
  0% {
    left: 0%;
    padding: 0 25% 0 25%;
    width: 30%;}
  100% {
  }

}


// verse 1

 @keyframes shaking {
 0% { transform: translate(0, 0), }
 2% { transform:translate(1px,0) }
 6% { transform:translate(0,0) }
 10% { transform:translate(1px,1px) }
 14% { transform:translate(0,0) }
 16% { transform:translate(1px,1px) }
 20% { transform:translate(0,0) }
 22% { transform:translate(1px,1px) }
 26% { transform:translate(0px,0px) }
 28% { transform:translate(1px,1px) }
 32% { transform:translate(0px,0px) }
 36% { transform:translate(1px,1px) }
 38% { transform:translate(0px,0px) }

    }



 @keyframes fade { 
 0% {opacity: 1;}
 50% {opacity: 1;}
 100% {opacity: 0;}
 }

// verse 2

@keyframes push {
	0% {
		transform: translate(0,0);
	}
	100% {
		transform: translate(800px,0);
	}
}


@keyframes animateTime {
    0%   {transform: translate(2px, 1px)   rotate(0deg);}
    10%  {transform: translate(-1px, -2px) rotate(-1deg);}
    20%  {transform: translate(-3px, 0px)  rotate(1deg);}
    30%  {transform: translate(0px, 2px)   rotate(0deg);}
    40%  {transform: translate(1px, -1px)  rotate(1deg);}
    50%  {transform: translate(-1px, -2px) rotate(-1deg);}
    60%  {transform: translate(-3px, 1px)  rotate(0deg);}
    70%  {transform: translate(2px, 1px)   rotate(-1deg);}
    80%  {transform: translate(-1px, -1px) rotate(1deg);}
    90%  {transform: translate(2px, 2px)   rotate(0deg);}
    100% {transform: translate(1px, -2px)  rotate(0deg);}
  }


@keyframes hideCreature{
    from{visibility: visible;}
    to{visibility: hidden;}
}

@keyframes showCreature{
 0%{visibility: hidden;}
 100%{visibility: visible;}
}

//verse 3
@keyframes enter-from-side {
	0% {
		transform: translate(200px,0px);
	}
	100% {
		transform: translate(0px,0px);
	}
}
@keyframes shake {
	0% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	10% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	20% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	40% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	50% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	60% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	70% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	80% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	90% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	100% {
		transform: translate(25px, 0px) rotate(1deg);
	}
}

@keyframes shake1{

  10% {
    transform: translate(-1px, 0) ; 
  }

  20% {
    transform: translate(2px, 0) rotate(-1deg);
  }
   
  30% {
    transform: translate(-4px, 0);
  }

  40%  {
    transform: translate(4px, 0)rotate(1deg);
  }
  50% {
    transform: translate(-4px, 0);
  }

  60% {
    transform: translate(4px, 0) rotate(-1deg);
  }

  70% {
    transform: translate(-4px, 0);
  }
  80% {
    transform: translate(2px, 0)rotate(1deg);
  }
  90% {
    transform: translate(-1px, 0);
  }
}

@keyframes snakemoving {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-2deg);}
  50% {transform: rotate(-3deg);}
  75% {transform: rotate(-2deg);}
}

@keyframes move-up {
    0% {
      transform: translatey(0);    
    }
    100% {
      transform: translatey(-85px);
    }
  }

@keyframes move-down {
    0% {
      transform: translatey(0);    
    }
    100% {
      transform: translatey(100px);
    }
  }



@keyframes slide-down {
    0% { clip-path: inset(100% 0 0 0); }
    100% { clip-path: inset(22% 0 0 0 ); }
}
@keyframes slide-up {
    0% { clip-path: inset(0 0 100% 0); }
    100% { clip-path: inset(0 0 18% 0 ); }
}

@keyframes o-entering {
    0%  { visibility: hidden; }
    100% { visibility: visible; }
}

@keyframes words-right-of-o { 
    0%  { left: -415px; }
    100% { left: 0px }
}
 

//verse 4
@keyframes growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; font-size: 250%;}
  }

  @keyframes left-growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; }
  }

  @keyframes right-growing {
    0%   { left:0; top:0px; }
    100% { left:-20px; top:0px;  }
  }

  @keyframes bending {
    0%   { transform: rotate(0deg); }
    
    100% { transform: rotate(-5deg);}
  }

  @keyframes eyes-entering {
    0%  { visibility: hidden; }
    100% { visibility: visible;
     }
}




//verse 5

@keyframes rotation{
  0%{
  transform: rotatex(0deg);
   }

 
  100%{
      transform: rotatex(180deg)
  }
}

// @keyframes drop {
//     0% {
//         transform: translate(0, -200%) scaleX(0);
//         height: 60px;
//     }

//     30% {
//         transform: translate(0, -200%);
//         height: 30px;
//     }

//     70% {
//         transform: translate(0, 100%);
//         height: 30px;
//     }

//     100% {
//         transform: translate(0, 800%) scaleX(0.8);
//         height: 60px;
//     }
// }

@keyframes drop {
  0% {transform: scale(0.4);}
  1% {visibility: visible;}
  38% {transform: translatey(10px)scalex(0.8);}
  70% {transform: translatey(300px)scalex(1);}
  100% {transform: translateY(800px)scalex(1); visibility: hidden;}
  
}
//verse 6
@keyframes scary {
    0% {visibility: visible; color: black; }
    100% {visibility: visible; color: red;
    }
  }
  
  @keyframes hidden {
    0% { visibility: inherit;}
    100% {visibility: hidden;}
  }
  
  @keyframes flickering {
    0% {background-color:white;}
    20.1% {background-color: #000000;}
    20.6% {background-color: white;}
    30% {background-color: white;}
    30.1% {background-color: #000000;}
    30.5% {background-color: #000000;}
    30.6% {background-color: white;}
    45% {background-color: white;}
    45.1% {background-color: #000000;}
    55% {background-color: #000000;}
    55.1% {background-color: white;}
    57% {background-color: white;} 
    57.1% { background-color: #000000;}
    60% {background-color: #000000;}
    60.1% { background-color: white;}
    65% {background-color: white;}
    65.1% {background-color: #000000;}
    75% {background-color: #000000;}
    75.1% {background-color: white;}
    77% {background-color:white;}
    77.1% {background-color: #000000;}
    85% {background-color: #000000;}
    85.1% { background-color: white;}
    86% {background-color: white;}
    86.1% {background-color: #000000;}
    100% {background-color: #000000;}
  }

//credits
