html {overflow-x:hidden;}

p {overflow: hidden;
  white-space: nowrap;}
.egg-poem {
    display: grid;
    gap: 1% 1%;
    align-items: center;
    grid-template-areas:
      "intro-egg intro-egg"
      "egg-cracking verse__1"
      "egg-cracking verse__2"
      "egg-cracking verse__3"
      "egg-cracking verse__4"
      "egg-cracking verse__5"
      "egg-cracking verse__6"
      "credits credits";
      grid-template-rows: 100vh 100vh 100vh 100vh 100vh 100vh 100vh 100vh;
      grid-column: 50% 50%;
     
  }

.intro-egg { grid-area: intro-egg;}



.egg-cracking { grid-area: egg-cracking;
margin: 0 5% 0 5%;
min-width: 400px;
}

.egg.TriggerOnScroll {
  
    margin: 1% ;
    position: fixed;
    top: 50px; 
    padding: 0 25% 0 25%;
    width: 30%;
    animation-play-state: paused;


  .egg-cracks {
  fill:none;
  stroke:#1d1d1b00;
  stroke-miterlimit:0
  }
}


.egg {margin: 1% ;
  position: fixed;
  top: 50px; 
  left: 5% ;
  width: 22%;
  
}

.egg-cracks {
  position: absolute;
  top: 0;
width: 96%;
  fill:none;
  stroke:#1d1d1b;
  stroke-miterlimit:10
  }

.verse__1 { grid-area: verse__1;
}

.shattering-text {overflow:visible;
}

.verse__2 {
    grid-area: verse__2;
    position: relative;
  }

  #our-text{
    z-index: -100;

  }
  .verse2__line1--push{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
   }

   .verse2__word--time {
    position: absolute;
   }
  .verse2__creature--svg{
    display: block;
    position: absolute;
    left: 400px;
    top: 200px;
  }

  .verse2__word--right {
    position: relative;
    left: 100px;
}

  .verse__3 { grid-area: verse__3; }

  .verse__word--long {overflow: hidden;}

  .verse__3--snake {
    height: 250px;
    width: 250px;
    top: -250px;
    right: -68%;
    position: relative;
    margin: 0 0 100px 100px;}

.fangs-top, .fangs-bottom {
  position: relative;
        width:350px;
        display: flex;
        align-self: center;
        z-index: -1;
        left: 50px;
        visibility: hidden;
        }

.fangs-top {
          
          top: 145px;}
      
.fangs-bottom {
       
          top: -70px;
        }

.verse__letter--o1, .verse__letter--o2, .verse__letter--o3, .verse__letter--o4,
 .verse__letter--o5, .verse__letter--o6, .verse__letter--o7, .verse__letter--o8,
  .verse__letter--o9, .verse__letter--o10,.verse__letter--o11,.verse__letter--o12,
  .verse__letter--o13, .verse__letter--o14, .verse__letter--o15, .verse__letter--o16
   {  visibility: hidden;
      }
      
.verse_letter--oright {
  position: relative;
  
  left: -415px;

}

.verse__4 { grid-area: verse__4; }

.verse__word--eyes2 { 
  visibility: hidden;}

.verse__word--eyes3 {
  visibility: hidden;
  }

.verse__5 { grid-area: verse__5; }

.verse__5--drop {
  position: absolute;
  width: 5%;
  transform: translate(100%, 800%);
  height: 60px;
}
.drop1, .drop2, .drop3, .drop4  {visibility: hidden;}


.verse__6 { grid-area: verse__6; }

.credits { grid-area: credits;
padding: 5% 5% 5% 50%;
overflow: visible; }

.credits p {overflow: visible;
  white-space: normal;}

 