
    @media screen and (max-width:900px) {
        
        html, body {
            overflow-x: hidden;
          }
        body {
            font-size: 1.6em;
            margin: 0;
            position: relative;
        }
        .egg-cracking {
            min-width:100%; 
        }
        .egg-cracks {
            z-index: 2;
            margin: auto ;
            position: fixed;
            top: 0; 
            padding: 4% 0 0 0 ;
            width: 30.5%;
            transform: translate(2px)
            }
  
        .egg{
            z-index: 1;
            margin: auto;
            position: fixed;
            top: 50px; 
            padding: 4% 25% 0 25%;
            width: 32%;
        }

        .egg.TriggerOnScroll {
            position: fixed;
            top: 50px; 
            padding: 4% 25% 0 25%;
            width: 32%;
            animation-play-state: paused;
            margin: 0;
        }
        
        @keyframes egg {
            0% {}
            100% {}
          }
  
        .verse__1, .verse__2, .verse__3, .verse__4, .verse__5, .verse__6{
            padding: 250px 0;
            margin: 0 auto;
            }
        .shattering-text{
            height: 200px;
            }
        .verse_letter--oright{
                left:-252px;
            }
        .verse__3--snake{
            height: 200px;
            width: 200px;
            top: -50px;
            right: -500px;
            position: relative;
            margin: 0 0 100px 100px;
        }
        
        @keyframes bending {
            0%   { 
                transform: rotate(0deg); 
                left:20%; 
                }
            100% { 
                transform: rotate(-5deg);
                left:21%; 
                }
          }
  
        .egg-cracking .egg{ 
          grid-area: egg-cracking;
          position: fixed;
          top: 0;
        }
    
        .egg-poem {
            display: grid;
            grid-template-columns: 4% 92% 4%;
            grid-template-rows: 90vh;
            gap: 0 0;
            grid-template-areas:
              ". egg-cracking ."
              ". intro-egg ."
              ". verse__1 ."
              ". verse__2 ."
              ". verse__3 ."
              ". verse__4 ."
              ". verse__5 ."
              ". verse__6 ."
              "credits credits credits";
          }
    
        .credits {
            
            padding: 10%;
            min-height: 500px;
            text-align: center; 
         }
         .verse2__word--right {
            left: 60px;}

         .fangs-top{
          margin-bottom: 85px;
         } 
         .fangs-bottom {
          margin-top: 45px;
          }
         
        
          .verse__3.TriggerOnScroll {
            .verse__3--snakehead {
                animation: shake1 0.7s infinite 0.5s;
                transform-origin: center;
            }
            .verse__3--snakebody {
                animation: snakemoving 3s linear infinite;
                transform-origin: left;
            }
            .verse__3--snake {
                animation: enter-from-side 1.5s, ;
            }
            .verse__3--line1 {
                position: absolute;
                animation: move-up 1.7s linear 0.4s both;
            }
            .verse__3--line3 { 
                position: absolute;
                animation: move-down 1.4s linear 0.6s both;
            }

            .fangs-top {
                visibility:initial;
                animation: slide-down 2s linear both;
            }
            .fangs-bottom {
                visibility:initial;
                animation: slide-up 2s linear both;
            }
            @keyframes enter-from-side {
                0% {
                    transform: translate(200px,0px);
                }
                100% {
                    transform: translate(0px,0px);
                }
            }
            .verse__3--snake {
                height: 200px;
                width: 200px;
                top: -50px;
                right: -60%;
                position: relative;
                margin: 0 0 100px 100px;}
            @keyframes move-up {
                0% {
                  transform: translatey(0);    
                }
                100% {
                  transform: translatey(-123px);
                }
              }
            
            @keyframes move-down {
                0% {
                  transform: translatey(0);    
                }
                100% {
                  transform: translatey(115px);
                }
              }
              @keyframes words-right-of-o { 
                0%  { left: -224px; }
                100% { left: 0px }
            }
        }
        

          .verse__5.TriggerOnScroll {
            .drop1 {
                left: 250px;
                top: -405px; 
            }
                
            .drop2 {
                left: 70px;
                top: -425px;
            }
            
            .drop3 { 
                left: 365px;
                top: -580px;
            }
            
            .drop4 { 
                left: -30px;
                top: -645px;
            }
          }
     }
    