// farge, font, 
$bck-color: #8091a8;
$introAndcredits-color: #304e5a;

// Source Sans Pro
@import url("https://use.typekit.net/qrj2cyn.css");

body {
    margin: 0;
    font-size: 3em;
    background: $bck-color;
    font-family:source-sans-pro;
    
}
.verse__1, .verse__2, .verse__3, .verse__4, .verse__5, .verse__6{
     padding: 10% 0 10% 0;
     }

.intro-egg, .credits{
    width: 100%;
    height: 100%;
    background:$introAndcredits-color;
    text-align: center;
}

.egg-cracking {min-width:400px;}

.egg-cracks {
    display: block;
    position: absolute;
    width: 30%;
    fill:none;
    stroke:#1d1d1b;
    stroke-miterlimit:10
    }

    .cracking--1, .cracking--2, .cracking--3,
    .cracking--4, .cracking--5, .cracking--5-2,
    .cracking--6, .cracking--6-2 {
        stroke-dasharray: 320;
        stroke-dashoffset: 320;
       }
    
.verse__4--p { 
    color: #fffaae;
    text-shadow: 0 0 3px #fff023, 0 0 7px #fff238, 0 0 13px #ffbb00, 0 0 16px #ffbb00, 0 0 22px #ffbb00, 0 0 27px #ffbb00, 0 0 35px #ffbb00;
  }


  @media screen and (max-width:720px) {
    /* For mobile phones: */
    body {
        font-size: 2em;
        margin: 0;
    }
    .egg-cracking {
        min-width:100%; /*100% wil only set the width to 10% of the screen*/
    }
    .egg-cracks {
        position: sticky;
        }

    .egg{
        padding: 10px 0 10px 0;
        width: 100%;
    }

  }
  
