// farge, font, 

// Source Sans Pro
@import url("https://use.typekit.net/qrj2cyn.css");

.egg-cracks {
    display: block;
    position: absolute;
    width: 30%;
    fill:none;
    stroke:#1d1d1b;
    stroke-miterlimit:10
    }

.verse__4--p { 
    color: #fffaae;
    text-shadow: 0 0 3px #fff023, 0 0 7px #fff238, 0 0 13px #ffbb00, 0 0 16px #ffbb00, 0 0 22px #ffbb00, 0 0 27px #ffbb00, 0 0 35px #ffbb00;
  }