//Colors used
$bck-color: #8091a8;
$credit-txt: #ffffff;
$verse4-txt:  #fffaae;
$colorEyes: #ffffe4;

$fontSizeMain: 1.5em;

//Mixins 
@mixin shadowEyes {
    text-shadow: 0 0 3px #98ff23, 0 0 7px #98ff23, 0 0 13px #85e419, 
    0 0 16px #85e419, 0 0 22px #85e419, 0 0 27px #85e419, 0 0 35px #85e419;
}
@mixin shadowVerse4-p {
    text-shadow: 0 0 3px #fff023, 0 0 7px #fff238, 0 0 13px #ffbb00, 0 0 16px #ffbb00, 0 0 22px #ffbb00, 0 0 27px #ffbb00, 0 0 35px #ffbb00;
}

@mixin growingAnimation {
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-direction: forwards;
}

