// Source Sans Pro
@import url("https://use.typekit.net/qrj2cyn.css");

.egg-poem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "intro-egg intro-egg"
      "egg-cracking verse__1"
      "egg-cracking verse__2"
      "egg-cracking verse__3"
      "egg-cracking verse__4"
      "egg-cracking verse__5"
      "egg-cracking verse__6"
      "credits credits";
  }


  .intro-egg { grid-area: intro-egg; }


  .verse__1 { grid-area: verse__1; }
  #verse1__line1--up {
    animation-duration: 1s;
    animation-name: V1L1;
    animation-fill-mode: backwards;
  }
  #verse1__line2--up {
    animation-delay: 1s;
    animation-duration: 1s;
    animation-name: V1L2;
    animation-fill-mode: backwards;
  }
  #verse1__line3--up {
    animation-delay: 2s;
    animation-duration: 1s;
    animation-name: V1L3;
    animation-fill-mode: backwards;
  }
  @keyframes "V1L1" {
  	0% {
  		transform: translate(0px,500px);
  	}
  	100% {
  		transform: translate(0px,0px);
  	}
  }
  @keyframes "V1L2" {
  	0% {
  		transform: translate(0px,500px);
  	}
  	100% {
  		transform: translate(0px,0px);
  	}
  }
  @keyframes "V1L3" {
  	0% {
  		transform: translate(0px,500px);
  	}
  	100% {
  		transform: translate(0px,0px);
  	}
  }


// ------------------ End of verse 1  ------------------
.verse__2 {
  grid-area: verse__2;
  position: relative;
}

// Verse 2 line 1
.verse2__line1--push{

   animation: push 3s
  }
  .verse2__word--right {
      position: relative;
      left: 30px;
  }


// Verse 2 line 2
.verse2__line1--push{
  animation-duration: 3s;
  animation-name: V2L1;
}
.verse2__word--time {
    animation-name: animateTime;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}

// Verse 2 line 3
.verse2__creature--svg{
  display: block;
  position: absolute;
  left: 20%;
}

.verse2__creature--hidden{
  animation:hideCreature 5s forwards;

}
 #our-text{
      z-index: -100;
    }


//Keyframes verse 2

@keyframes "V2L1" {
	0% {
		transform: translate(0px,0px);
	}
	100% {
		transform: translate(500px,0px);
	}
}


@keyframes push{
    from  {transform: translate(0px,0px);}
    to   {transform: translate(500px,0px);}
  }

@keyframes animateTime {
    0%   {transform: translate(2px, 1px)   rotate(0deg);}
    10%  {transform: translate(-1px, -2px) rotate(-1deg);}
    20%  {transform: translate(-3px, 0px)  rotate(1deg);}
    30%  {transform: translate(0px, 2px)   rotate(0deg);}
    40%  {transform: translate(1px, -1px)  rotate(1deg);}
    50%  {transform: translate(-1px, -2px) rotate(-1deg);}
    60%  {transform: translate(-3px, 1px)  rotate(0deg);}
    70%  {transform: translate(2px, 1px)   rotate(-1deg);}
    80%  {transform: translate(-1px, -1px) rotate(1deg);}
    90%  {transform: translate(2px, 2px)   rotate(0deg);}
    100% {transform: translate(1px, -2px)  rotate(0deg);}
  }


@keyframes hideCreature{
    from{visibility: visible;}
    to{visibility: hidden;}
}

// ------------------ End of verse 2  ------------------
//verse 3
.verse3__snakeTail_shake {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
#verse3__snakeTailImage--sizeAndEnterance {
	height: 150px;
	width: 150px;
	position: absolute;
	right: 0;
	margin: -125px 0 100px 100px;
	animation-duration: 1s;
	animation-name: V3Img;
	animation-fill-mode: backwards;
}

//keyframes verse 3
@keyframes "V3Img" {
	0% {
		transform: translate(100px,0px);
	}
	100% {
		transform: translate(0px,0px);
	}
}
@keyframes "shake" {
	0% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	10% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	20% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	40% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	50% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	60% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	70% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	80% {
		transform: translate(25px, 0px) rotate(1deg);
	}
	90% {
		transform: translate(0px, 0px) rotate(-1deg);
	}
	100% {
		transform: translate(25px, 0px) rotate(1deg);
	}
}

  .verse__3 { grid-area: verse__3; }

body {font-size: 4em;
background-color: rgb(122, 122, 122);
padding: 10%}

.verse__word--fangs {
        position: absolute;
        animation: move-up 1.6s linear 0.4s forwards;
      }
.verse__word--rattels { 
    position: absolute;
    animation: move-down 1.4s linear 0.6s forwards

}

.fangs-top, .fangs-bottom {
width:300px; 
display: flex;
align-self: center;
}

.fangs-top {
    position: relative;
    top: 145px;
    left: 100px;
    animation: slide-down 2s linear both;
    z-index: -1}

.fangs-bottom {
    position: relative;
    top: -70px;
    left: 100px;
    animation: slide-up 2s linear both;
    z-index: -1
}

  @keyframes move-up {
        0% {
          transform: translatey(0);    
        }
        100% {
          transform: translatey(-90px);
        }
      }

@keyframes move-down {
        0% {
          transform: translatey(0);    
        }
        100% {
          transform: translatey(90px);
        }
      }


    
@keyframes slide-down {
        0% { clip-path: inset(100% 0 0 0); }
        100% { clip-path: inset(22% 0 0 0 ); }
    }
@keyframes slide-up {
        0% { clip-path: inset(0 0 100% 0); }
        100% { clip-path: inset(0 0 18% 0 ); }
    }


/* O animation entering  */
.verse__letter--o1 { 
    animation: o-entering 2s step-end forwards ;
}
.verse__letter--o2 { 
    animation: o-entering 2.4s step-end forwards;
}
.verse__letter--o3 { 
    animation: o-entering 2.8s step-end forwards;
}
.verse__letter--o4 { 
    animation: o-entering 3.2s step-end forwards;
}
.verse__letter--o5 { 
    animation: o-entering 3.6s step-end forwards;
}
.verse__letter--o6 { 
    animation: o-entering 4s step-end forwards;
}
.verse__letter--o7 { 
    animation: o-entering 4.4s step-end forwards;
}
.verse__letter--o8 { 
    animation: o-entering 4.8s step-end forwards;
}
.verse__letter--o9 { 
    animation: o-entering 5.2s step-end forwards;
}
.verse__letter--o10 { 
    animation: o-entering 5.6s step-end forwards;
}
.verse__letter--o11 { 
    animation: o-entering 6s step-end forwards;
}
.verse__letter--o12 { 
    animation: o-entering 6.4s step-end forwards;
}
.verse__letter--o13 { 
    animation: o-entering 6.8s step-end forwards;
}
.verse__letter--o14 { 
    animation: o-entering 7.2s step-end forwards;
}
.verse__letter--o15 { 
    animation: o-entering 7.6s step-end forwards;
}
.verse__letter--o16 { 
    animation: o-entering 8.0s step-end forwards;
}

/* words on the right of long moving to the right */
.verse_letter--oright {
    position: relative;
    animation: words-right-of-o 6.5s linear 1.6s forwards;
    left: -515px;
}


@keyframes o-entering {
    0%  { visibility: hidden; }
    100% { visibility: visible; }
}

@keyframes words-right-of-o { 
    0%  { left: -515px; }
    100% { left: 0px }
}
 


.verse__4 { grid-area: verse__4; }


/* Verse 4 animation */

/* eyes entering */
.verse__word--eyes2 { 
    
  animation: eyes-entering 1s step-end ;}

.verse__word--eyes3 {
  
  animation: eyes-entering 2s step-end ;
}
/* verse 4 glowing */

.verse__4--p { 
  color: #fffaae;
  text-shadow: 0 0 3px #fff023, 0 0 7px #fff238, 0 0 13px #ffbb00, 0 0 16px #ffbb00, 0 0 22px #ffbb00, 0 0 27px #ffbb00, 0 0 35px #ffbb00;
}

/* bending line animation */
.verse__line--bending {
  position: absolute;
  animation: bending 4s linear 3s forwards;
}

/* Growing line animation  */

 .verse__word--growing {
    position: relative;
    animation: growing 5s ease-in 2s forwards;
  }

  .left-growing { 
      position: relative;
      animation: left-growing 5s ease-in 2s forwards;
  }

  .right-growing { 
      position: relative;
      animation: right-growing 5s ease-in 2s forwards;
  }

  @keyframes growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; font-size: 250%;}
  }

  @keyframes left-growing {
    0%   { left:0px; top:0px; }
    100% { left:-20px; top:0px; }
  }

  @keyframes right-growing {
    0%   { left:0; top:0px; }
    100% { left:-20px; top:0px;  }
  }

  @keyframes bending {
    0%   { transform: rotate(0deg); }
    
    100% { transform: rotate(-5deg);}
  }

  @keyframes eyes-entering {
    0%  { visibility: hidden; }
    100% { visibility: visible; }
}




  .verse__5 { grid-area: verse__5; }
  .verse__6 { grid-area: verse__6; }
  .egg-cracking { grid-area: egg-cracking; }
  .credits { grid-area: credits; }

  .verse__3 { grid-area: verse__3; }
  .verse__4 { grid-area: verse__4; }
  .verse__5 { grid-area: verse__5; }

/* Dråpe animasjon */
.verse__5--drop {
    animation: move 1.5s linear infinite;
    position: absolute;
    transform: translate(100%, 800%);
}


@keyframes move {
    0% {
        transform: translate(100%, -200%) scaleX(1);
        height: 60px;
    }

    30% {
        transform: translate(100%, -200%);
        height: 30px;
    }

    70% {
        transform: translate(100%, 100%);
        height: 30px;
    }

    100% {
        transform: translate(100%, 800%) scaleX(1);
        height: 60px;
    }
}
  .verse__6 { grid-area: verse__6; }

body {
  background-color:white;
  display: inline-block;
  animation: flickering 1s linear 3 alternate forwards;}


.verse__6--p {
  font-size: 4em;
  animation: hidden 1s step-end forwards;
}

.verse__word--scary {
  animation: scary 2s linear forwards 1s;
}

@keyframes scary {
  0% {visibility: visible; color: black;}
  100% {visibility: visible; color: red;}
}

@keyframes hidden {
  0% { visibility: inherit;}
  100% {visibility: hidden;}
}

@keyframes flickering {
  0% {background-color: white;}
  20.1% {background-color: rgb(0, 0, 0);}
  20.6% {background-color: white;}
  30% {background-color: white;}
  30.1% {background-color: rgb(0, 0, 0);}
  30.5% {background-color: rgb(0, 0, 0);}
  30.6% {background-color: white;}
  45% {background-color: white;}
  45.1% {background-color: rgb(0, 0, 0);}
  55% {background-color: rgb(0, 0, 0);}
  55.1% {background-color: white;}
  57% {background-color: white;} 
  57.1% { background-color: rgb(0, 0, 0);}
  60% {background-color: rgb(0, 0, 0);}
  60.1% { background-color: white;}
  65% {background-color: white;}
  65.1% {background-color: rgb(0, 0, 0);}
  75% {background-color: rgb(0, 0, 0);}
  75.1% {background-color: white;}
  77% {background-color: white;}
  77.1% {background-color: rgb(0, 0, 0);}
  85% {background-color: rgb(0, 0, 0);}
  85.1% { background-color: white;}
  86% {background-color: white;}
  86.1% {background-color: rgb(0, 0, 0);}
  100% {background-color: rgb(0, 0, 0);}
}
  .egg-cracking { grid-area: egg-cracking; }
  body {
   padding: 20px;}

.egg-cracks {
    display: block;
    position: absolute;
    width: 30%;
    fill:none;
    stroke:#1d1d1b;
    stroke-miterlimit:10
    }
    
.cracking--1 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 1s both;
    }
.cracking--2 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 2s both;
    }
.cracking--3 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 3s both;
    }
.cracking--4 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 4s both;
    } 
.cracking--5 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 5s both;
    }
.cracking--5-2 {
        stroke-dasharray: 320;
        stroke-dashoffset: 0;
        animation: crack 3s ease-in 6s both;
        }
.cracking--6 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 7s both;
    }
.cracking--6-2 {
    stroke-dasharray: 320;
    stroke-dashoffset: 0;
    animation: crack 3s ease-in 8s both;
    }
    
 @keyframes crack {
     from {
        stroke-dashoffset: 320;
      }
     to {
        stroke-dashoffset: 0;
      }
    }

  .credits { grid-area: credits; }
